<p *ngIf='__sessionValid'>
  Your Session is Valid!!!
</p>
<p *ngIf='!__sessionValid'>
	Your Session is NOT Valid!!!
</p>
<span *ngIf='__userRoles'>ROLES:<pre>{{__userRoles | json}}</pre></span>
<span *ngIf='__userInfo'>USER INFO:<pre>{{__userInfo | json}}</pre></span>

<button (click)="checkHealth();">check health</button>
<div *ngIf="__response">
		<h2>Health check Details...</h2>
		<pre>{{__response | json}}</pre>
</div>
<div *ngIf="__error">
	<h2>An error was received during health check...</h2>
	<pre>{{__error | json}}</pre>
</div>